{% trans_default_domain 'SleepnessUberTranslationBundle' %}

{% block translation_form_fields %}
    <div class="input-group uber_trans_form_input_group">
        <div class="input-group">
            <label for="locale">{{ 'translation_form.locale'|trans }}</label>
            {{ form_widget(form.locale, {'attr': {'class': 'form-control'} } ) }}
        </div>
        <div class="input-group">
            <label for="domain">{{ 'translation_form.domain'|trans }}</label>
            {{ form_widget(form.domain, {'attr': {'class': 'form-control'} } ) }}
        </div>
        <div class="input-group">
            <label for="translation">{{ 'translation_form.translation'|trans }}</label>
            {{ form_widget(form.translation, {'attr': {'class': 'form-control'} } ) }}
        </div>
        <div class="input-group">
            <label for="translation">{{ 'translation_form.key'|trans }}</label>
            {{ form_widget(form.key, {'attr': {'class': 'form-control'} } ) }}
        </div>
        {{ form_row(form._token) }}
        <br />
    </div>
{% endblock %}
