{% extends 'SleepnessUberTranslationAdminBundle::layout.html.twig' %}
{% trans_default_domain 'SleepnessUberTranslationBundle' %}

{% block uber_translation_bundle_content %}
    <div class="container">
        {% for message_creation_fail in app.session.flashbag.get('translation_not_created') %}
            <div class="row">
                <div class="alert alert-danger">
                    <strong>
                        {{ message_creation_fail|trans }}
                    </strong>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-6">
                {{ form_errors(form) }}
                <h3>{{ 'translation_form.create_title'|trans }}</h3>
                <form method="post" {{ form_enctype(form) }} role="form">
                    <div class="form-group">
                        {% include 'SleepnessUberTranslationAdminBundle:Translation:_form.html.twig' %}
                        <button type="submit" class="btn btn-success" id="btn_create_translation" data-placement="top">
                            {{ 'translation_form.save'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
