{% extends 'SleepnessUberTranslationAdminBundle::layout.html.twig' %}
{% trans_default_domain 'SleepnessUberTranslationBundle' %}

{% block uber_translation_bundle_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                {{ form_errors(form) }}

                <h3>{{ 'translation_form.create_title'|trans }}</h3>

                <form method="post" {{ form_enctype(form) }} role="form">

                    <div class="form-group">
                        <div style="margin-bottom: 25px" class="input-group">

                            <div class="input-group">
                                <label for="locale">{{ 'translation_form.locale'|trans }}</label>
                                {{ form_widget(form.locale, {'attr': {'class': 'form-control'} } ) }}
                            </div>
                            <div class="input-group">
                                <label for="domain">{{ 'translation_form.domain'|trans }}</label>
                                {{ form_widget(form.domain, {'attr': {'class': 'form-control'} } ) }}
                            </div>
                            <div class="input-group">
                                <label for="translation">{{ 'translation_form.translation'|trans }}</label>
                                {{ form_widget(form.translation, {'attr': {'class': 'form-control'} } ) }}
                            </div>
                            <br/>
                            {{ form_widget(form._token) }}
                            <button type="submit" class="btn btn-success" id="btn_create_translation" data-placement="top">
                                {{ 'translation_form.save'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
